// Langkah pertama Buat satu file scss untuk ambil impor root style bulma.sass untuk jadi versi bebas mystyles.css nya, 
//@charset "utf-8";
//@import "../node_modules/bulma/bulma.sass";


// Langkah kedua Buat Style Bebas seperti dibawah ini
@charset "utf-8";

/** Table to convert from PIXELS to REMS If base = 16 px ___ 1 rem = 16 px

1px	    0.0625rem
4px	    0.25rem
8px	    0.50rem

10px	0.625rem
12px	0.75rem

14px	0.875rem
16px	1rem
18px	1.125rem

20px	1.25rem
24px	1.5rem
28px	1.75rem

32px	2rem
36px	2.25rem

38px	2.375rem

40px	2.5rem
42px	2.625rem

44px	2.75rem
46px	2.875rem

48px	3rem
52px	3.25rem
56px	3.5rem
60px	3.75rem
64px	4rem
**/



// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Product+Sans');


// Font Custom for Typography
$family-sans-serif  : "Product Sans", sans-serif;


// Brand colors
$warning        : #F0AF0A;
$primary        : #818818;
$brown          : #645b3d;
$white-canvas   : #fafafa;


// Basic Color friom Bulma
$orange	    :   hsl(14, 100%, 53%);
$yellow	    :	hsl(48, 100%, 67%);
$green	    :	hsl(141, 53%, 53%);
$turquoise  :	hsl(171, 100%, 41%);
$cyan	    :	hsl(204, 71%, 53%);
$blue	    :	hsl(217, 71%, 53%);
$purple	    :	hsl(271, 100%, 71%);
$red	    :	hsl(348, 86%, 61%);



// Status Color
$info       : $cyan;
$success    : $green;
$danger     : $orange;

// Screen size
$widescreen-enabled : false;
$fullhd-enabled     : false;


// Update some of Bulma's component variables
$body-background-color: $white-canvas;

$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;


$body-size : 16px;	
$body-min-width	:360px;	
$body-font-size	: 1em;


$navbar-box-shadow-size: 0 2px 0 0;
$navbar-height: 3.5rem;
$navbar-padding-vertical: 1rem; 
$navbar-padding-horizontal: 2rem;



// Import only what you need from Bulma
@import "../node_modules/bulma/bulma.sass";
@import "../node_modules/bulma/sass/components/navbar.sass";