nav.navbar {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06) !important;
}

.card-shadow {
    transition: box-shadow .5s;
    background-color: white;
    color: #4a4a4a;
    max-width: 100%;
    position: relative;
    border: 0.5px solid #f5f5f5;
    border-radius: 3px;
}

.card-shadow:hover {
    border: 0px solid #dbdbdb;
    border-radius: 3px;
    box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0px 0 1px rgba(10, 10, 10, 0.02);
}
